/*顶部样式*/
.top{
    width:100%;
    height:34px;
    line-height: 34px;
    background:#f0f0f0;
    border-bottom: 1px solid #D5D5D5;
}
.top_content{
    width:1200px;
    margin:auto;
}
.top_header::after{
    content: "";
    display: block;
    clear: both;
}
.top_content li{
    float:left;
}
.top_ul_left>li+li{
    margin-left:13px;
}
.top_ul_left{
    float:left;
}
.tul_i1,.tul_i3,.tul_i5{
    width:9px;
    height:13px;
    float:left;
    background:url(../image/index/ico.png) no-repeat;
    margin-top:10px;
    margin-right:5px;
}
.tul_i2,.tul_i4{
    width:9px;
    height:6px;
    float:right;
    background:url(../image/index/ico.png) no-repeat -25px 0;
    margin-top:14px;
    margin-left:5px;
}
.tul_i5{
    width:16px;
    background:url(../image/index/ico.png) no-repeat -9px 0 ;
}
.top_ul_left>li:nth-child(3):hover{
    color:#F57605;
}
.top_ul_right{
    float:right;
}
.top_ul_left_li4>span>a{
    color:#F57605;
    margin-right:10px;
}
.top_ul_left_li4>span>a:hover{
    text-decoration: underline;
}
.top_ul_left_li4>a:hover{
    color:#F57605;
}
/*移动客户端和微信服务号hover二维码*/
.topleft_li1,.topleft_li2{
    position:relative;
    width:102px;
    height:35px;
    padding:0 6px;
    box-sizing: border-box;
}
.topleft_li1>.top_ewm,.topleft_li2>.top_ewm{
    width:210px;
    position: absolute;
    top:34px;
    left:-131px;
    border:1px solid #D5D5D5;
    border-top:none;
    background:#fff;
    padding:10px;
    display: none;
}
.top_ul_left>li:nth-child(1):hover,.top_ul_left>li:nth-child(2):hover{
    color:#F57605;
    background:#fff;
    border:1px solid #d5d5d5;
    border-bottom:none;
}
.top_ul_left>li:nth-child(1):hover .top_ewm{
    display: block;
}
.top_ul_left>li:nth-child(2):hover .top_ewm{
    display: block;
}
.top_ewm>img,.top_ewm>div{
    float:left;
}
.top_ewm>img{
    width:85px;
}
.top_ewm>div{
    width:110px;
    margin-left: 10px;
    line-height: 20px;
    margin-top:18px;
    color:#212529;
}
.top_ewm>div span{
    color:red;
}
/*移动客户端和微信服务号hover二维码 样式结束处*/

.top_ul_right>li:hover>a{
    color:#F57605;
}
.top_ul_right>li>.tul_i6{
    display: inline-block;
    width:9px;
    height:13px;
    margin-left:3px;
    background:url(../image/index/ico.png) no-repeat -24px 8px;
}
.top_ul_right>i{
    float:left;
    padding:0 12px;
}
.tr_li{
    width:85px;
    height:34px;
    padding:0 10px;
    box-sizing: border-box;
    position:relative;
}
.tr_li>ul{
    position:absolute;
    top:33px;
    left:-1px;
    width:85px;
    box-sizing: border-box;
    padding:10px 11px;
    display: none;
    z-index: 600;
    background: #fff;
    border:1px solid #d5d5d5;
    border-top: none;
}
.tr_li>ul>li{
    text-align: center;
    margin:5px 0;
    line-height: 14px;
}
.tr_li>a{
    float:left;
}
.tr_li>ul>li>a:hover{
    color:#F57605;
}
.tr_li>.tul_i2{
    width:9px;
    height:6px;
    padding:0;
}
.tr_li:hover{
    border:1px solid #d5d5d5;
    border-bottom:none;
    background: #fff;
}
.tr_li:hover ul{
    display: block;
}

/*顶部样式，包括左侧logo和搜索框*/
.top_header{
    width:1200px;
    margin:auto;
}
.theader_img{
    float:left;
    padding:30px 0;
}
.theader_input{
    float:left;
    margin-left:190px;
    padding:40px 0;
}
.theader_input>input{
    float:left;
    width:400px;
    height:22px;
    line-height:22px;
    padding:8px 10px;
    border:1px solid #d5d5d5;
    color:#666;
}
.theader_input>a{
    display: block;
    float:left;
    width:80px;
    background:#da3e49;
    height:40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    color:#fff;
}
.theader_input>a:hover{
    color:#fff;
}
.theader_input>ul>li{
    float:left;
    margin-top:10px;
}
.theader_input>ul>li>i{
    padding:0 20px;
}
.theader_input>ul>li>a{
    color:#999999;
}
.theader_input>ul>li>.th_red{
    color:red;
}
/*购物车按钮*/
.shop_car{
    width:100px;
    height:40px;
    float:left;
    line-height:40px;
    font-size: 14px;
    background:#ffdb3d;
    margin-left:-10px;
    position:relative;
    margin-top:40px;
}
.shop_car:hover{
    width:310px;
    background:#e6e1cb;
}
.shop_car:hover span{
    opacity: 0;
}
.shop_car>span{
    position:absolute;
    opacity: 1;
    width:14px;
    height:14px;
    line-height: 14px;
    text-align: center;
    border-radius: 50%;
    top:-15px;
    right:-13px;
    color:#fff;
    background:red;
}
.shop_car>div>p{
    float:left;
    margin-left:15px;
    font-size: 14px;
    color:#302c34;
}
.shop_car>div>i{
    float:right;
    margin-right:12px;
    margin-top:10px;
    width:23px;
    height:21px;
    background:url(../image/index/ico_gwc.png) no-repeat;
}
/*导航栏*/
.nav{
    width:100%;
}
.nav_content{
    width:1200px;
    margin:auto;
}
/*商品所有分类导航栏，包括该分类下的所有导航*/
.classify{
    float:left;
    position: relative;
}
.classify>ul{
    position:absolute;
    z-index: 3;
    background: #202020;
    padding-bottom:30px;
}
.classify>ul>li{
    width:185px;
    height: 39px;
    line-height: 39px;
}
.classify>ul>li:hover{
    background:#c32c36;
}
.classify>ul>li>a{
    display: inline-block;
    font-size: 14px;
    color:#fff;
    margin-left:30px;
    width:155px;
    height: 39px;
    line-height: 39px;
}
.classify>h2{
    width:185px;
    height:40px;
    line-height: 40px;
    background:#000;
    text-indent: 18px;
}
.classify>h2>a{
    font-size: 14px;
    color:#fff;
}
.li_hover1:hover>.hover1{
    display: block;
}
.li_hover2:hover>.hover2{
    display: block;
}
.li_hover3:hover>.hover3{
    display: block;
}
.li_hover4:hover>.hover4{
    display: block;
}
.li_hover5:hover>.hover5{
    display: block;
}
.li_hover6:hover>.hover6{
    display: block;
}
.li_hover7:hover>.hover7{
    display: block;
}
.li_hover8:hover>.hover8{
    display: block;
}
.li_hover9:hover>.hover9{
    display: block;
}
.li_hover10:hover>.hover10{
    display: block;
}
.li_hover11:hover>.hover11{
    display: block;
}
.li_hover12:hover>.hover12{
    display: block;
}
.hid1{
    width:1015px;
    height:500px;
    background:#f8f8f8;
    position:absolute;
    top:0;
    left:185px;
    display: none;
}
.hid1_top{
    width:950px;
    height:50px;
    margin:auto;
    line-height: 50px;
    text-indent: 0;
    border-bottom:2px solid #d8d8d8;
}
.hid1_top>.a_left{
    float:left;
    font-size: 14px;
    color:#302C34;
    font-weight: 400;
}
.hid1_top>.a_left:hover,.hid1_top>.a_right:hover{
    color:#DA3E49;
}
.hid1_top>.a_right{
    float:right;
}
.a_right>em{
    display: inline-block;
    width:17px;
    height:18px;
    margin-left:8px;
    vertical-align: middle;
    background:url(../image/index/jtbg.png) no-repeat;
}
.hid1_top>.a_right:hover em{
    background:url(../image/index/jtbg.png) no-repeat 0 -17px;
}
.hid1_content{
    width:950px;
    margin:auto;
}
.h1_c_left{
    width:655px;
    height:425px;
    overflow-y: scroll;
    float:left;
    border-right:1px solid #d8d8d8;
}
.h1_c_left_list1{
    border-top:1px dashed #d8d8d8;
}
.h1_c_left_list1:hover ul>li>a{
    color:#004497;
}
.h1_c_left_list1:hover a>em{
    background:url(../image/index/jtbg.png) no-repeat 0 -17px;
}
.h1_c_left_list1:hover a{
    color:#DA3E49;
}
.h1_c_left_list1>a{
    display: block;
    font-weight: bold;
    color:#302C34;
}
.h1_c_left_list1>a>em{
    display: inline-block;
    width:17px;
    height:18px;
    margin-left:8px;
    vertical-align: middle;
    background:url(../image/index/jtbg.png) no-repeat;
}
.h1_c_left_list1>ul>li{
    float:left;
}
.h1_c_left_list1>ul>li+li{
    margin-left:20px;
}
.h1_c_left_list1>ul::after{
    content: "";
    display: block;
    clear: both;
}
.h1_c_right{
    width:240px;
    float:right;
    padding:20px;
}
.h1_c_right>p{
    line-height: 25px;
    margin-top:10px;
    margin-bottom:0;
    color:#9d9d9d;
}
.h1_c_right>a,.h1_c_right>a:hover{
    color:#004497;
}
.h1_c_right>a+a{
    margin-left:15px;
}

/*导航栏右边几个样式*/
.nav_ul{
    float:left;
}
.nav_content>ul{
    float:left;
}
.nav_content>ul>li{
    float:left;
    height:40px;
    line-height: 40px;
    text-align: center;
}
.nav_content>ul>li>a{
    padding:0 25px;
    color:#000;
    font-size:13px;
    font-weight: bold;
}
.nav_content>ul>.first_li{
    background: #c32c36;
}
.nav_content>ul>.first_li>a{
    color:#fff;
}
.nav_content>ul>li+li:hover{
    background:#faf0e8;
}
/*浮动在轮播图上面右侧两张广告图*/
.nav_right{
    width:1200px;
    margin:auto;
    position:relative;
}
.nr_top,.nr_bottom{
    position: absolute;
    top:0;
    right:0;
    z-index: 1;
    background: rgba(0,0,0,.3);
    box-shadow: -2px 2px 6px rgba(0,0,0,.3);
    transition: all 0.2s linear;
}
.nr_bottom{
    top:292px;
    right:0;
}
.nr_bottom{
    width:153px;
}
.nav_right>a:hover img{
    transform: translatex(-5px);
}
/*轮播图内容*/
#demo .carousel-item>a>img{
   width:1920px;
    height:480px;
    margin-left:-195px;
   vertical-align: middle;
}
#demo .carousel-control-next,#demo .carousel-control-prev{
    width:45px;
    height:82px;
    line-height: 82px;
    font-size: 44px;
    background:#000;
    opacity: 0.2;
    text-align:center;
    color:#fff;
    transition:all 0.3s linear;
    /*position:absolute;*/
}
/*.carousel-control-prev{*/
    /*top:199px;*/
    /*left:350px;*/
/*}*/
/*.carousel-control-next{*/
    /*top:199px;*/
    /*right:350px;*/
/*}*/
#demo .carousel-control-prev:hover,#demo .carousel-control-next:hover{
    opacity:0.5;
}
#demo .carousel-indicators{
    z-index: 0;
}
 .carousel-indicators>li{
    width:20px;
    height:20px;
    line-height: 20px;
    text-align: center;
    color:#fff;
    background:#000;
    border-radius:50%;
    text-indent: 0;
    cursor: pointer;
}
#demo .carousel-indicators>li.active{
    background:#da3e49;
}
.car_con{
    width:858px;
    height:82px;
    left:50%;
    top:199px;
    margin-left:-414px;
    position:absolute;
    opacity: 0;
}
.carousel:hover .car_con{
    opacity: 1;
}
/*惠生活*/
/*左侧图片*/
.part1{
    width:1200px;
    margin:auto;
    padding:30px 0;
}
.part1_title{
    padding: 15px 0;
}
.part1_left{
    float:left;
    width:197px;
}
/*中间轮播图*/
.part1_content{
    width:602px;
    height:500px;
    float:left;
    background:#fff;
    border:1px solid #dddbdc;
}
.part1_ban1>ul>li{
    float:left;
    padding:20px 20px 15px;
    overflow: hidden;
    width:200px;
    height:250px;
    box-sizing: border-box;
    position: relative;
}
    /*part1轮播图 四个外边框动态 结束*/
.border_left2,.border_bottom2,.border_top2,.border_right2{
    position:absolute;
    background:#000;
    transition:all 0.6s linear;
}
.border_left2{
    bottom:0;
    left:0;
    height:0;
    width:1px;
}
.border_bottom2{
    bottom:0;
    left:0;
    height:1px;
    width:0;
}
.border_top2{
    top:0;
    right:0;
    width:0;
    height:1px;
}
.border_right2{
    top:0;
    right:0;
    width:1px;
    height:0;
}
.part1_ban1>ul>li:hover .border_left2{
    height:250px;
}
.part1_ban1>ul>li:hover .border_bottom2{
    width:200px;
}
.part1_ban1>ul>li:hover .border_top2{
    width:200px;
}
.part1_ban1>ul>li:hover .border_right2{
    height:250px;
}
    /*part1轮播图 四个外边框动态 结束*/
.part1_ban1>ul>li:nth-child(1){
    border-right:1px solid #dddbdc;
    border-bottom:1px solid #dddbdc;
}
.part1_ban1>ul>li:nth-child(2){
    border-right:1px solid #dddbdc;
    border-bottom:1px solid #dddbdc;
}
.part1_ban1>ul>li:nth-child(3){
    border-bottom:1px solid #dddbdc;
}
.part1_ban1>ul>li:nth-child(4){
    border-right:1px solid #dddbdc;
}
.part1_ban1>ul>li:nth-child(5){
    border-right:1px solid #dddbdc;
}
.part1_ban1>ul>li>p{
    font-size: 12px;
    color:#646464;
    font-family: "微软雅黑";
    padding:5px 0;
    overflow: hidden;
    white-space: nowrap;
}
.part1_ban1>ul>li>a{
    display: inline-block;
    width:160px;
    text-align: center;
}
.part1_ban1>ul>li>a>img{
    width:142px;
}
.pb_price>.price{
    position: absolute;
    bottom:8px;
    left:22px;
}
.pb_price>.dazhe{
    position: absolute;
    bottom:10px;
    right:21px;
    width:45px;
    height:23px;
    line-height: 23px;
    text-align: center;
    font-weight: bold;
    color:#fff;
    border-radius: 3px;
    background:#da3d49;
}
.pb_price>.price>p{
    color:#424242;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.pb_price>.price>p>.pb_span2{
    font-size:22px;
}
.pb_price>.price>.pb_p2{
    color:#b1b0b0;
    font-weight: 400;
    text-decoration:line-through;
}

    /*左右按键*/
#demo1>.carousel-control-next,#demo1>.carousel-control-prev{
    width: 46px;
    height:46px;
    background: #222;
    opacity: 0.4;
    top:227px;
    transition:all 0.3s linear;
}
#demo1>.carousel-control-next:hover,#demo1>.carousel-control-prev:hover{
    opacity:0.9;
}
/*右侧广告图*/
.part1_right{
    float:right;
    position:relative;
}
    /*四个外边框动态 开始*/
.border_left,.border_bottom,.border_top,.border_right{
    position:absolute;
    background:#000;
    transition:all 0.6s linear;
}
.border_left{
    bottom:0;
    left:0;
    height:0;
    width:1px;
}
.border_bottom{
    bottom:0;
    left:0;
    height:1px;
    width:0;
}
.border_top{
    top:0;
    right:0;
    width:0;
    height:1px;
}
.border_right{
    top:0;
    right:0;
    width:1px;
    height:0;
}
.part1_right:hover .border_left{
    height:500px;
}
.part1_right:hover .border_bottom{
    width:389px;
}
.part1_right:hover .border_top{
    width:389px;
}
.part1_right:hover .border_right{
    height:500px;
}
    /*四个外边框动态 结束*/

/*F1服装内衣*/
.F1_clothes{
    width:1200px;
    margin:auto;
    padding:50px 0;
}